.footer {
    width: 100%;
    width: 1024px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
 }

 .fList {
    list-style: none;
    padding: auto;
 }

 .fListItem {
    margin: 10px;
    color: #003580;
    cursor: pointer;
 }